* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background:
    linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
    url("./assets/back.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* main card */

.container {
  width: 400px;
  background: rgba(255, 255, 255, 0.356);
  backdrop-filter: blur(2px);
  padding: 32px;
  border-radius: 16px;
  border: 1px solid #e5e5e5;
}

/* title */

.title {
  margin-bottom: 24px;
  font-size: 22px;
  font-weight: 600;
  color: #040404;
  text-align: center;
}

/* input */

.url-input {
  width: 93%;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid #d6d6d6;

  outline: none;
  margin-bottom: 14px;
}

.url-input:focus {
  border-color: #9ca3af;
}

/* shorten button */

.shorten-btn {
  width: 100%;
  padding: 11px;

  background: #100f0ff1;
  color: white;

  border: none;
  border-radius: 6px;

  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.15s;
}

.shorten-btn:hover {
  background: #72a1d4;
}

/* result box */

.result {
  margin-top: 22px;
  padding: 16px;

  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.35);

  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(6px);
}


/* link + button container */

.result-row{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:10px;
}

/* short link */

.short-link{
  font-size:16px;
  color:#000000;
  text-decoration:none;
  font-weight: 600;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.short-link:hover{
  text-decoration:underline;
}

/* copy button */

.copy-btn{
  width:36px;
  height:32px;

  border-radius:6px;
  border:1px solid rgba(255,255,255,0.4);
  background-color: whitesmoke;
  background-image:url("./assets/copy.png");
  background-size:18px 18px;
  background-repeat:no-repeat;
  background-position:center;

  cursor:pointer;
  transition:all 0.15s ease;
}

.copy-btn:hover{
  background-color: #83b6edf0;
}